body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:black;
}

/* App.css */

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: sky;
}

.container {
  max-width: 800px;
  margin: 20px auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  margin-bottom: 20px;
}

.main-content {
  margin-top: 20px;
}

.live-transcript {
  margin-top: 10px;
}

.btn-style {
  margin-top: 20px;
}

/* Button styling */
.btn-style button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px; /* Adjusted padding for a bit of spacing */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn-style button:hover {
  background-color: #45a049;
}

.no-notes {
  margin-top: 20px;
  color: #888;
}

/* Card-like styling for each note */
.todo {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.todo:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.todo p {
  margin: 0;
}
/* Button styling */
.btn-style button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px; /* Adjusted padding for a bit of spacing */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px; /* Margin between the buttons */
  transition: background-color 0.3s ease;
}

.btn-style button:hover {
  background-color: #45a049;
}


/* Add other styles as needed */
